# Default NAMESPACE created by R
# Remove the previous line if you edit this file


# Import all packages listed as Imports or Depends
#import("stats","Rcpp")
#exportPattern("^[[:alpha:]]+")



importFrom(Rcpp, evalCpp)
importFrom("graphics", "plot", "points")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("stats", "aov", "summary.aov", "t.test", "p.adjust", "fisher.test", "prcomp","aggregate","quantile", "wilcox.test","cmdscale", "as.dist", "dist", "kmeans", "kruskal.test","median", "pnorm", "rnorm", "runif", "sd", "var","cor.test")
importFrom("minerva", "mine")
importFrom("Rtsne", "Rtsne_neighbors")
importFrom("umap", "umap.knn", "umap","umap.defaults")
importFrom("parallel", "makeCluster", "stopCluster")
importFrom("doParallel", "registerDoParallel")
importFrom("foreach", "getDoParRegistered", "getDoParWorkers")

  

exportPattern(KODAMA.matrix.parallel)

